{% extends "layout.html" %} {% block title %}404 Page Not Found{% endblock %} {%
block content %}

<div class="basket-product">
  <div class="basket-product-image">
    <img
      src="https://business.ee.co.uk/content/dam/eeb-site/images-2023/devices/apple/phones/iphone-15/iphone-15-pro-max/natural-titanium/1-15promax-natural-titanium.png"
    />
  </div>
  <div class="basket-product-content">
    <h2>Google</h2>
    <br />
    <h1>
      Pixel Fold 5G 256GB + 12GB RAM, Factory Unlocked - Dual SIM (Nano-SIM +
      eSIM) - Foldable...
    </h1>
    <br />
    <p>Obsidian, 256GB + 12GB</p>
    <br />
  </div>
  <div class="basket-product-buttons">
    <h1>£1,449.00</h1>
    <h1>QUANTITY</h1>
    <button>Remove</button>
  </div>
</div>

<div class="basket-footer">
  <div class="basket-total">
    <h1>Total: £1778</h1>
    <p>Delivery & Service fees calculated at checkout</p>
  </div>
  <div class="basket-checkout">
    <button>Checkout</button>
  </div>
</div>

{% endblock %}
