{% extends "layout.html" %} {% block title %}Basket{% endblock %} {% block
content %} {% set total = 0 %} {% for product in data %}
<div class="basket-product">
  <div class="basket-product-image">
    <img src="/static/assets/product_images/{{product[5]}}" />
  </div>

  <div class="basket-product-content">
    <h2>{{product[3]}}</h2>
    <br />
    <h1>{{product[2]}}</h1>
    <br />
    <p>{{product[6]}}</p>
    <br />
  </div>
  <div class="basket-product-buttons">
    <h1>£{{ "%0.2f" | format(product[4] | float) }}</h1>
    <h1>Quantity: {{product[1]}}</h1>
    <button>Remove</button>
  </div>
</div>
{% endfor %}
<div class="basket-footer">
  <div class="basket-total">
    <h1>Total: £{{"%0.2f" | format(data | sum(attribute='current_price'))}}</h1>
    <p>Delivery & Service fees calculated at checkout</p>
  </div>
  <div class="basket-checkout">
    <button>Checkout</button>
  </div>
</div>

{% endblock %}
