{% extends "layout.html" %} {% block title %}Add Product - Technology{% endblock
%} {% block content %}

<div class="add-product-container">
  <a href="/categories/technology/manage/">Return to product list</a
  ><br /><br /><br />
  <form method="POST" enctype="multipart/form-data">
    <label>Name:</label>
    <input type="text" name="name" required />
    <label>Brand:</label>
    <input type="text" name="brand" required /><br />
    <label>Original Price:</label>
    <input type="number" name="original_price" min="1" step="any" required />
    <label>Current Price:</label>
    <input
      type="number"
      name="current_price"
      min="0"
      step="any"
      required
    /><br />
    <label>Product Image(s):</label>
    <input type="file" name="images" accept=".png" />

    <label>Subcategory:</label>
    <select name="subcategory" required>
      <option value="camera_&_photo">Camera & Photo</option>
      <option value="tv_&_home_cinema">TV & Home Cinema</option>
      <option value="laptops">Laptops</option>
      <option value="phones">Phones</option>
      <option value="audio_&_hifi">Audio & HiFi</option>
      <option value="accessories">Accessories</option></select
    ><br />
    <label>Preview:</label>
    <textarea name="preview" rows="10" cols="50" required></textarea>
    <label>Description:</label>
    <textarea name="description" rows="10" cols="50" required></textarea><br />
    <label>Specs:</label>
    <textarea name="specs" rows="10" cols="50" required></textarea>
    <label>Options:</label>
    <textarea name="options" rows="10" cols="50"></textarea><br /><br /><br />
    <label>Stock:</label>
    <input type="number" name="stock" min="0" required /><br />
    <input type="Submit" value="Add Product" /><br />
  </form>
</div>

{% endblock %}
