{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="content">
  {% if current_user.is_authenticated %} {% if current_user.type == "user" %}
  <div class="welcome-back">
    <h1>Welcome Back {{current_user.forename}}</h1>
    <a href="/profile">Profile</a>
    <a href="/profile/wishlist">Wishlist</a>
    <a href="/profile/deals">Deals</a>
    <a href="/profile/recommended">Recommended</a>
    <a href="/profile/orders">Orders</a>
    <div class="welcome-back-pane">
      <div class="welcome-back-product-section">
        <h2>Recently Viewed</h2>
        <img src="/static/assets/demo_product_1.png" />
        <img src="/static/assets/demo_product_2.png" />
        <img src="/static/assets/demo_product_3.png" />
        <img src="/static/assets/demo_product_4.png" />
      </div>
      <div class="welcome-back-product-section">
        <h2>From your wish list</h2>
        <img src="/static/assets/demo_product_1.png" />
        <img src="/static/assets/demo_product_2.png" />
        <img src="/static/assets/demo_product_3.png" />
        <img src="/static/assets/demo_product_4.png" />
      </div>
      <div class="welcome-back-product-section">
        <h2>We think you'll like</h2>
        <img src="/static/assets/demo_product_1.png" />
        <img src="/static/assets/demo_product_2.png" />
        <img src="/static/assets/demo_product_3.png" />
        <img src="/static/assets/demo_product_4.png" />
      </div>
    </div>
  </div>
  {% else %}
  <div class="welcome-back" style="height: 100px">
    <h1>Welcome Back {{current_user.forename}}</h1>
    <a href="/profile">Profile</a>
    <a href="/categories/technology/add">Add Product</a>
    <a href="/categories/technology/manage">Manage Products</a>
    <a href="/categories/technology/stats">Stats</a>
  </div>
  {% endif %} {% endif %}
  <div class="bg-shape">
    <div class="index-carousel">
      <img src="/static/assets/index_carousel_placeholder.png" />
    </div>

    <div class="category-tiles">
      <div class="tile">
        <h3>Groceries</h3>
        <img src="/static/assets/groceries_thumbnail.png" />
        <p>From easy snacks to home cooked meals, we have it all...</p>
        <a href="/categories/groceries">Shop Now</a>
      </div>

      <div class="tile">
        <h3>Technology</h3>
        <img src="/static/assets/technology_thumbnail.png" />
        <p>All the latest gadgets from gaming to music to productivity...</p>
        <a href="/categories/technology">Shop Now</a>
      </div>

      <div class="tile">
        <h3>Automotive</h3>
        <img src="/static/assets/automotive_thumbnail.png" />
        <p>Rev your engines, we’ve got all the parts to turbo your motor...</p>
        <a href="/categories/automotive">Shop Now</a>
      </div>

      <div class="tile">
        <h3>Clothing</h3>
        <img src="/static/assets/clothing_thumbnail.png" />
        <p>Find the latest fashion or craft your own retro look...</p>
        <a href="/categories/clothing">Shop Now</a>
      </div>

      <div class="tile">
        <h3>Books</h3>
        <img src="/static/assets/books_thumbnail.png" />
        <p>
          Lose yourself in an adventure or learn the secrets of the universe...
        </p>
        <a href="/categories/books">Shop Now</a>
      </div>

      <div class="tile">
        <h3>Sports & Outdoors</h3>
        <img src="/static/assets/sports_thumbnail.png" />
        <p>Better warm up, we’ve got all the gear you need...</p>
        <a href="/categories/sports">Shop Now</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
